body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.searchTable {
    border-collapse: collapse;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.searchTable td{
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.table th {
    background-color: #1a237e;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #bbdefb;
}

.table td:hover {
    background-color: #4fc3f7; 
}



button {
    background-color: #408cff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
}

input[type=text] {
    width:95%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #dbdbdb;
    border: 1px solid black;
    border-radius: 5px;
    
}

input[type=submit]{
    background-color: #408cff;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    
}