<!DOCTYPE html>
<html>
    <head>
        <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        
        </style>
    </head>
    <table style="width:100%">
        <tr>
            <th style="width:10%">Catalogue Number</th>
            <th style="width:10%">Date</th>
            <th>Adressee</th>
            <th>Keywords</th>
            <th>Regions</th>
            <th style="width:5%">Source</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{item.catalogue}}</td>
            <td>{{item.date}}</td>
            <td>{{item.addressee}}</td>
            <td>{{item.keywords}}</td>
            <td>{{item.regions}}</td>
            <td><button onclick="location.href='viewitem/{{item.catalogue}}'">View Source</button></td>
        </tr>
        {% endfor %}
    </table>
</html>