<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/searchtableonly.css">
    </head>
    <body>
        <table class="searchTable">
            <thead>
                <tr>
                    <th style="width:10%">№</th>
                    <th style="width:10%">Дата</th>
                    <th colspan="2">Адресат</th>
                    <th>Ключевые слова</th>
                    <th>Регионы</th>
                    <th style="width:5%">Поиск</th>
                </tr>
            </thead>
            <tbody>
                <form action="/catalogue" method="post" autocomplete="off">
                    <tr>
                        <td><input type="text" id="catalogue" name="catalogue"></td>
                        <td><input type="text" id="date" name="date"></td>
                        <td colspan="2"><input type="text" id="addressee" name="addressee"></td>
                        <td><input type="text" id="keywords" name="keywords"></td>
                        <td><input type="text" id="regions" name="regions"></td>
                        <td><input type="submit" value="Поиск"></button></td>
                    </tr>
                    <tr>
                        <td>Не учитывать регистр: <input type="checkbox" id="case-sensitive" name="case-sensitive" checked></td>
                        <td>Использовать RegEx: <input type="checkbox" id="use-regex" name="use-regex"></td>
                        <td>Заменить ё <input type="checkbox" id="replace-e" name="replace-e" checked></td>
                        <td>Опубликовано <input type="checkbox" id="published" name="published"></td>
                        <td colspan="3">Поиск по содержимому письма: <input type="text" id="contents" name="contents"></td></form> 
                    </tr>
                
            </tbody>
        </table>
        <table id="MainTable" class="table">
            <thead>
            <tr>
                <th onclick="sortTable(0)" style="width:10%"><centrе>№</centr></th>
                <th onclick="sortTable(1)" style="width:10%">Дата</th>
                <th onclick="sortTable(2)">Адресат</th>
                <th>Ключевые слова</th>
                <th>Регионы</th>
                <th style="width:5%">Источник</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
            <tr>
                <td>{{item.catalogue}}</td>
                <td><centrе><b>{{item.date}}</b></centrе></td>
                <td>{{item.addressee}}</td>
                <td>{{item.keywords}}</td>
                <td>{{item.regions}}</td>
                <td><button onclick="location.href='viewitem/{{item.catalogue}}'">Посмотреть источник</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <script src="static/script_main.js"></script>
    </body>
</html>
