<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/search_manual.css">
</head>
<body>
    <div> 
        <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
        </div>
        <div class="bottomleft">
            <p>Check out the <a href="https://cheatography.com/davechild/cheat-sheets/regular-expressions/">regex cheat sheet</a></p>
        </div>
    </div> 
</body>